body {
  font-family: Helvetica;
  background-color: #fdfdfd;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.select {
  text-align: center;
}

.select select {
  background-color: lightgray;
  border: none;
  color: grey;
  width: 48vw;
  font-size: 4vh;
}

.instructions {
  width: 100vw;
  vertical-align: bottom;
  text-align: center;
  display: inline-block;
  font-size: 5vh;
}

.question {
  width: 100vw;
  vertical-align: center;
  text-align: center;
  font-size: 10vh;
}

.form {
  margin-left: 10vw;
  margin-right: 10vw;
}

input[type=text] {
  text-align: center;
  border: 1vh solid grey;
  width: 80vw;
  border-radius: 1vw;
  font-size: 7vh;
}

.translation {
  width: 100vw;
  vertical-align: center;
  text-align: center;
  font-size: 10vh;
}

.answer {
  text-align: center;
}

.answer button {
  background-color: gray;
  border: none;
  color: white;
  width: 32vw;
  text-align: center;
  vertical-align: top;
  font-size: 5vh;
}

.minibutton {
  text-align: center;
}

.minibutton button {
  background-color: gray;
  border: none;
  color: white;
  width: 20vw;
  text-align: center;
  vertical-align: top;
  font-size: 5vh;
}

.minibutton button:disabled {
  background-color: lightgray;
}

.score {
  width: 100vw;
  vertical-align: center;
  text-align: center;
  display: inline-block;
  font-size: 5vh;
}