body {
  font-family: Helvetica;
  background-color: #fdfdfd;
  color: black;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: red; color: white; }
#selectable .ui-selected { background: orange; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; border: 1px solid black; }

button:disabled,
button[disabled] {
  background-color: lightgray;
}

.select {
  background-color: lightgray;
  border: none;
  color: grey;
  height: 50px;
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.instructions {
  background-color: #fdfdfd;
  color: black;
  height: 30px;
  width: 610px;
  text-align: left;
  display: inline-block;
  font-size: 22px;
}

.question {
  background-color: #fdfdfd;
  color: black;
  padding-top: 15px;
  height: 60px;
  width: 610px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
}

input[type=text], select {  
    color: black;
    height: 60px;
    width: 610px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 50px;
}

.translation {
  background-color: #fdfdfd;
  color: black;
  height: 60px;
  width: 610px;
  text-align: center;
  display: inline-block;
  font-size: 50px;
}

.answer {
  background-color: gray;
  border: none;
  color: white;
  height: 50px;
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.correctanswer {
  background-color: gray;
  border: 3px solid black;
  color: green;
  height: 50px;
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.incorrectanswer {
  background-color: gray;
  border: none;
  color: red;
  height: 50px;
  width: 200px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.amiright {
  background-color: #fdfdfd;
  border: none;
  color: black;
  padding-top: 15px;
  padding-left: 15px;
  height: 35px;
  width: 100px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
}

.skip {
  background-color: gray;
  border: none;
  color: white;
  height: 50px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.next {
  background-color: gray;
  border: none;
  color: white;
  height: 50px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

.score {
  background-color: #fdfdfd;
  border: none;
  color: black;
  padding-top: 15px;
  padding-left: 15px;
  height: 35px;
  width: 600px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
}

.restart {
  background-color: gray;
  border: none;
  color: white;
  height: 50px;
  width: 100px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  font-size: 20px;
} 