body {
  font-family: Helvetica;
  background-color: #fdfdfd;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.select {
  text-align: center;
  /*font-size: 3vw;*/
}

.select select {
  background-color: lightgray;
  border: none;
  color: grey;
  height: 5vh;
  width: 48vw;
  font-size: 2vh;
}

.instructions {
  height: 5vh;
  width: 100vw;
  vertical-align: center;
  text-align: center;
  display: inline-block;
  font-size: 3vw;
}

.question {
  height: 7vh;
  width: 100vw;
  vertical-align: center;
  text-align: center;
  font-size: 5vw;
}

.form {
  padding-left: 10vw;
  padding-right: 10vw;
}

input[type=text] {
  text-align: center;
  border: 1vh solid #ccc;
  width: 80vw;
  border-radius: 1vw;
  font-size: 5vw;
}

.translation {
  height: 10vh;
  width: 100vw;
  vertical-align: center;
  text-align: center;
  font-size: 5vw;
}

.answer {
  text-align: center;
}

.answer button {
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  height: 6vh;
  width: 32vw;
  font-size: 3vw;
}

.minibutton {
  text-align: center;
}

.minibutton button {
  background-color: gray;
  border: none;
  color: white;
  height: 6vh;
  width: 12vw;
  text-align: center;
  vertical-align: top;
  font-size: 2vw;
}

.minibutton button:disabled {
  background-color: lightgray;
}

.score {
  height: 4vh;
  width: 100vw;
  vertical-align: center;
  text-align: center;
  display: inline-block;
  font-size: 3vw;
}