body {
  font-family: Helvetica;
  background-color: #fdfdfd;
  color: black;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.select select {
  background-color: lightgray;
  border: none;
  color: grey;
  font-size: 4vh;
  flex-grow: 1;
  margin: 0 5px;
}

.instructions {
  width: 100vw;
  vertical-align: bottom;
  text-align: center;
  display: inline-block;
  font-size: 5vh;
}

.question {
  width: 100vw;
  vertical-align: center;
  text-align: center;
  font-size: 10vh;
}

.form {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}

input[type=text] {
  text-align: center;
  border: 1vh solid grey;
  width: 85vw;
  border-radius: 1vw;
  font-size: 7vh;
}

.translation {
  width: 100vw;
  vertical-align: center;
  text-align: center;
  font-size: 10vh;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.checkboxtext {
  font-size: 3vh;
}

.answers {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 2vw;
}

.answers button {
  background-color: gray;
  border: none;
  color: white;
  width: 30vw;
  vertical-align: top;
  font-size: 5vh;
}

.minibuttons {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;
}

.minibuttons button {
  background-color: gray;
  border: none;
  color: white;
  flex-grow: 1;
  font-size: 5vh;
  margin: 0 5px;
}

.minibuttons button:disabled {
  background-color: lightgray;
}

.scores {
  width: 100vw;
  vertical-align: center;
  text-align: center;
  display: inline-block;
  font-size: 3.5vh;
}